*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.nav{
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07);
}
#logo{
    width:10%;
    padding: 0.5em;
}
.icons{
    width: 1em;
}
#searchbar{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    outline: none;
    padding-left: 0.5em;
    border-radius: 0.4rem;
    width:45rem;
    height: 1.7rem;
    border: none;
    box-shadow: 0 1px 0 1px rgb(160, 153, 153);
}
.buttons{
    margin-top: 0.5em;
    margin-right: 0.4em;
    padding:0.4em;
    border-radius: 0.4em;
    width:auto;
    height: 1.1em;
    background-color: rgb(255, 103, 103);
}
.clock{
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    padding-bottom: 0.3em;
}
#day{
    padding: 0.3rem;
    font-weight: 600;
    font-size: large;
}
#date{
    color: rgb(17, 155, 230);
}
.nav_activities{
    display: flex;
    padding-bottom: 0.3em;
    
}
#searchbutton{
    margin-bottom: 0.3em;

}
.contents{
    display: flex;
    height: 87vh;
    /* background-color: aqua; */
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height:100%;
    color: white;
    background-color: black;
    transform: translateY(2.5em);
}
#user{
    transform: translateY(-1.4em);
    border: 1px solid black;
    width:5em;
    border-radius:100%;
}
.userimage{
    height: 3.5em;
    transform: translateY(-0.7em);
}
.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 1.5em;
}
#username{
    font-size: 1.6em;
    font-weight: 400;
}
.sidebar-activity{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
/* #dashboard{
    background-color: white;
    color: rgb(255, 103, 103);
} */
.sidebar-events{
  width: 90%;
    font-size: 1.2em;
    margin: 0.4em;
    padding: 0.2em;
    border-radius: 0.3em;
    cursor: pointer;
}
.sidebar-events.active{
    background-color: white;
    color: rgb(255, 103, 103);
}
.sidebar-buttons{
   transform: translateY(0.17em);
}
.sidebar-events:hover{
    background-color: white;
    color:  rgb(0, 0, 0);
}
.todo{
    width: 30rem;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.todo-header{
    display: flex;
    justify-content: space-between;
    padding:1em;
}
.main-content{
    display: flex;
    flex-direction: column;
    padding-left:3em;
    
}
.greeting{
    font-size: 1.8em;
    padding: 0.2em;
}
.todoheading{
    font-size: 1.3em;
    color:rgb(255, 103, 103) ;
}
.container{
    display: flex;
    height: 100%;
    width: 70vw;
    /* background-color: chartreuse; */
    border: 1px solid black;
}
#add-task{
    border:none;
    background-color: inherit;
    color:grey
}
#addicon{
    font-size: 1.9em;
    color:rgb(255, 103, 103) ;
    transform: translateY(0.25em);
}
#taskicon{
    font-size: 1.6em;
    color:  rgba(97, 90, 90, 0.483);
    transform: translateY(0.25em);
}

 .statuscoloumn{
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 1em;
 }
 .status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    height:30%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
 }
 .bar{
   position: relative;
   bottom: 10%;
   transform: scale(0.83);
 }
 .outer{
   width: 9rem;
    height: 9rem;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 10px -1px rgb(0, 0, 0,0.2),
    -8px -8px 10px -1px rgb(255, 255,255, 0.7);
 }
 .inner{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
   border: 1px solid black;
   display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0,0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0,0, 0.15),
    0px 12px 10px rgba(0, 0,0, 0.05);
 }
circle{
    fill: none;
    stroke: var(--clr);
    stroke-width: 1em;
   stroke-dasharray: 407;
   stroke-dashoffset :407;
   animation: bar_ani 1s linear forwards;
}
 #bar{
    
    position: absolute;
    top: 0;
    left: 0;
 }
 @keyframes bar_ani{
    100%{
        stroke-dashoffset: 305    }
 }
 .statusprogress{
   position:absolute;
   padding-top: 0.5em;
    top: 100%;
    left:2em;
 }
 .status-header{
    height:fit-content;
    padding-left: 1em;
 }
 .status-header span{
    font-size: 1.3em;
    color:rgb(255, 103, 103) ;
 }
 #statusicon{
    font-size: 1.9em;
     color:  rgba(97, 90, 90, 0.483);
    transform: translateY(0.25em);
 }
 #completedtaskicon{
    font-size: 1.9em;
     color:  rgba(97, 90, 90, 0.483);
    transform: translateY(0.25em);
 }
 .completedtask-header span{
    font-size: 1.3em;
    color:rgb(255, 103, 103) ;
 }
 .completedtask-header{
    height:fit-content;
    padding-left: 1em;
    padding-top: 0.3em;
 }
 .todo-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
 .tasks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius:1em;
    height:6em;
    margin: 0.6em;
    padding: 0.7em;
    padding-top: 0.4em;
 }
 .tasks svg{
     transform: translateY(0.15em);
     color: var(--clr);
 }
 .task-footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
 }
 .task-description{
    overflow-y:hidden;
    height: 2.4em;
    font-size: 1em;
 }
 .priority{
    color: var(--clr);
 }
 .task-status{
    color: var(--clr);
 }
 .completedtasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .completedtasks div{
    height: 36%;
 }
 .addtaskPopup{
    display: none;
  position: absolute;
  height: 100%;
  width: 100%;
   top: -3%;
  background-color:rgba(22, 22, 22, 0.645);
  display:none;
    justify-content: center;
    align-items: center;
  padding: 1.5em;
 }
 .addtasklayout{
    background-color: white;
    width: 80%;
    height: 85%;
    padding: 2em;
 }
 #add-task-form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1em;
    
 }
 .addtaskheader{
   font-size: 1.5em;
   text-decoration: underline;
   display: flex;
   justify-content: space-between;
   margin-bottom: 2%;
 }
 label{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    font-weight: bold;
 }
 i{
    font-size: x-small;
    transform: translateY(-0.14em);
 }
 .priority-selction{
    width: 1em;
    height: 1em;
    transform: translateY(0.14em);

 }
 form input{
    width:70%;
    height: 2em;
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 0.7%;
 }
 fieldset{
    border: none;
    width: 30%;
    display: flex;
    justify-content: space-between;
 }
 .task-description-container{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 60%;
 }
 #task-description{
    height:100%;
    width: 100%;
 }
 .image-container{
    display: flex;
    flex-direction: column;
     margin-bottom: 1em;
   
     width:30%
 }

  .file-upload input{
    min-height: 40%;
    width: 100%;
    padding-top: 0.4em;
  }
  #close-add-task{
   background-color: inherit;
   border: none;
  font-size: large;
  }
  #task-submit{
    width: 10%;
    background-color: rgb(255, 136, 0);
    border: 0;
    font-size: medium;
    padding: 0.7%;
    border-radius:0.6em;
  }